CONFIG_ESP_MAIN_TASK_STACK_SIZE=4096
CONFIG_LOG_DEFAULT_LEVEL_INFO=y
CONFIG_COMPILER_OPTIMIZATION_DEBUG=y
CONFIG_ESPTOOLPY_FLASHSIZE_16MB=y
CONFIG_BU03_ACCEPTED_ID_DEFAULT=0
CONFIG_C_KEY_ANCHOR0_X_MM=-220
CONFIG_C_KEY_ANCHOR0_Y_MM=0
CONFIG_C_KEY_ANCHOR1_X_MM=220
CONFIG_C_KEY_ANCHOR1_Y_MM=0
CONFIG_C_KEY_BU03_USB_VID=0x0483
CONFIG_C_KEY_BU03_USB_PID=0x5740
CONFIG_C_KEY_BU03_ID_TIMEOUT_MS=500
CONFIG_C_KEY_ANCHOR0_SCALE_PPM=1031273
CONFIG_C_KEY_ANCHOR1_SCALE_PPM=995319
CONFIG_C_KEY_ANCHOR0_OFFSET_MM=-87
CONFIG_C_KEY_ANCHOR1_OFFSET_MM=-45
CONFIG_C_KEY_ANGLE_FILTER_STATIONARY_ALPHA_PERCENT=15
CONFIG_C_KEY_ANGLE_FILTER_MOVING_ALPHA_PERCENT=60
CONFIG_C_KEY_ANGLE_FILTER_MOTION_THRESHOLD_DEG=3
CONFIG_C_KEY_BUZZER_ACTIVE_LOW=y
