CONFIG_ESP_MAIN_TASK_STACK_SIZE=4096
CONFIG_LOG_DEFAULT_LEVEL_INFO=y
CONFIG_COMPILER_OPTIMIZATION_DEBUG=y
CONFIG_ESPTOOLPY_FLASHSIZE_16MB=y
CONFIG_BU03_TAG_ID=0
CONFIG_BU03_ACCEPTED_ID_DEFAULT=0
CONFIG_C_KEY_ANCHOR0_SCALE_PPM=1031273
CONFIG_C_KEY_ANCHOR1_SCALE_PPM=995319
CONFIG_C_KEY_ANCHOR0_OFFSET_MM=-87
CONFIG_C_KEY_ANCHOR1_OFFSET_MM=-45
